aiosmtpd
astroid
atpublic
certifi
chardet
Faker
flake8
gophish
idna
isort
lazy-object-proxy
mccabe
pycodestyle
pyflakes
pylint
python-dateutil
requests
six
text-unidecode
typed-ast
urllib3
wrapt
yapf
